<div class="colorBackground">
  <div class="confirmationTerminal">
    <p>&lt; You're Golden &gt;</p>
    <p>&lt; E-mail confirmation is on the way &gt;</p>
    <p>&lt; Gold arroves om T-minus &gt;</p>
    <div id="countdown"></div>
    <script type="text/javascript">
      $('#countdown').countdown('2016/01/01', function(event) {
        $(this).html(event.strftime('%d : %H : %M : %S'));
      });
    </script>
  </div>
</div>
<div class="staticBackground">
</div>
<div class="randomBackground">
</div>

<div class="mainContent">
  <div class="terminalContainer">
    <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
    <p><!--<span>01</span>-->&lt; &nbsp;Sign up for priority access to launch&nbsp; &gt;</p>
    <p><!--<span>02</span>--><span class="blinker">&#9646;</span> &nbsp;<%= email_field(:email, :address, {id: "email", placeholder: "enter email here"}) %> <%= submit_tag("SUBMIT", {id: "subscribe"}) %></p>
    <!-- <p><span>03</span>&lt; &nbsp;<%= submit_tag("Send", {id: "subscribe"}) %></p> -->
    <!-- <p id="response"><span>04</span>&lt; &nbsp;</p> -->
    <% end %>
  </div>
</div>

<div class="socialContainer">
  <!-- <div class="socialIcons"> -->
    <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
    <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
    <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
    <div class="footerBranding">
      &#35;GOLD001 <span>|</span> <a href="#">Contact</a>
    </div>
  <!-- </div> -->
</div>
