<div class="colorBackground">
</div>
<div class="staticBackground">
</div>
<div class="randomBackground">
</div>

<div class="mainContent">
  <div class="headerContainer">
    <%= image_tag('logo.png'); %>
    <!-- <h1>PAT McGRATH LABS</h1> -->
    <h3>Gold 001</h3>
  </div>

  <div class="terminalContainer">
    <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true",:authenticity_token => true) do -%>
    <p><span>01</span>&lt; &nbsp;enter info to gain access to the labs</p>
    <p><span>02</span>&lt; <span class="blinker">&#9646;</span> &nbsp;<%= email_field(:email, :address, {id: "email", placeholder: "Enter Your Email"}) %></p>
    <p><span>03</span>&lt; &nbsp;<%= submit_tag("Send", {id: "subscribe"}) %></p>
    <p id="response"><span>04</span>&lt; &nbsp;</p>
    <% end %>
  </div>

  <div class="socialContainer">
    <!-- <div class="socialIcons"> -->
      <a class="list-group-item" target="_blank" href="https://instagram.com/patmcgrathreal/"><i class="fa fa-instagram"></i>&nbsp;</a>
      <a class="list-group-item" target="_blank" href="https://www.facebook.com/PatMcGrathReal"><i class="fa fa-facebook-square"></i>&nbsp;</a>
      <a class="list-group-item" target="_blank" href="https://twitter.com/patmcgrathreal"><i class="fa fa-twitter"></i>&nbsp;</a>
      <div class="footerBranding">
        &#35;GOLD001 <span>|</span> &#35;PatMcGrathLabs
      </div>
    <!-- </div> -->
  </div>



</div>


<script type="text/javascript">
// Regular function with arguments
var imgArray = ['Color-01','Color-02','Color-03','Color-04','Color-05'];
// function randomNoRepeats(imgArray) {
//   var copy = array.slice(0);
//   return function() {
//     if (copy.length < 1) { copy = array.slice(0); }
//     var index = Math.floor(Math.random() * copy.length);
//     var item = copy[index];
//     copy.splice(index, 1);
//     return item;
//   };
// }
var image;
function my_func(){
     image = imgArray[Math.floor(Math.random() * imgArray.length)];
     console.log('background','url("/assets/signup/'+ image +')"');
    // Do The Thing Here
    $('.randomBackground').css({
      'background':'url("/assets/signup/'+ image +'.png")',
      'background-size':'cover',
      'background-repeat':'no-repeat'
    });
    $('.staticBackground').fadeOut(600).fadeIn(600)
    setTimeout(function(){
         my_func();
    },5000); // Adjust the timeout value as you like
}
setTimeout(my_func,5000)


</script>
