body {
  color: #fff;
  margin: 0;
}

.mainContent,
.staticBackground,
.colorBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
// container z-index settings
.mainContent {
  z-index: 3;
  background: transparent;
}
.staticBackground {
  z-index: 2;
  background: image-url('signup/static_pre_transparent.gif') no-repeat;
  background-size: cover;
}

.colorBackground {
  z-index: 1;
}

// MAIN CONTENT STYLE
.headerContainer {
  width: 1000px;
  margin: 0 auto;
  background: #000;
  h1  {
    text-align: center;
    margin: 0;
  }
  h3  {
    text-align: center;
  }
}
.terminalContainer {
  color: #fff;
  width: 1000px;
  margin: 0 auto;
  p {
    background: #000;
    padding: 5px;
    span {margin-right: 20px;}
  }
  #subscribe {
    background-color: black;
    color: white;
    border: none;
  }
  #email {background: #000; border: none; color: #fff;}
  #email::-webkit-input-placeholder {color: #fff;}
  #email:-moz-placeholder {color: #fff;}
  #email::-moz-placeholder {color: #fff;}
  #email:-ms-input-placeholder {
    color: #fff;
  }
}

.socialContainer {
  background: #000;
  color: #fff;
  text-align: center;
  margin-top: 250px;
  padding: 5px;
  a {
    text-decoration: none;
    color: #fff;
  }
  .fa {margin: 0 5px;}
  .footerBranding {
    margin-left: 40px;
    display: inline-block;
    span {
      margin: 0 18px;
    }
  }
}



// MOBILE
@media handheld, screen and (max-width: 1000px) {
  .headerContainer {width: 100%;}
  .terminalContainer {width: 95%;}
  .socialContainer {
    position: fixed;
    bottom: 30px;
    width: 100%;
  }
}
