@font-face {
  font-family: 'courier';
  src: url('courier.eot'); /* IE9 Compat Modes */
  src: url('courier.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('courier.woff2') format('woff2'), /* Super Modern Browsers */
       url('courier.woff') format('woff'), /* Pretty Modern Browsers */
       url('courier.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
  color: #fff;
  margin: 0;
  font-family: 'courier';
}

.mainContent,
.randomBackground,
.staticBackground,
.colorBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
// container z-index settings
.mainContent {
  z-index: 4;
  // background: image-url('signup/static_pre_transparent.gif') no-repeat;
  // background-size: cover;
}
.staticBackground {
  z-index: 3;
  background: image-url('signup/static_pre_transparent.gif') no-repeat;
  background-size: cover;
}
.randomBackground {
  z-index: 2;
  background: image-url('signup/image1.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}
.colorBackground {
  z-index: 1;
  background: image-url('signup/finalImage.jpg') no-repeat;
  background-size: cover;
}

// MAIN CONTENT STYLE
.headerContainer {
  margin: 0 auto;
  padding-top: 15px;
  background: #000;
  text-align: center;
  h1  {
    margin: 0;
  }
  h3  {
    margin-top: 0;
  }
}
.terminalContainer {
  color: #fff;
  width: 1000px;
  margin: 0 auto;
  p {
    background: #000;
    padding: 5px;
    position: relative;
    span {margin-right: 20px;}
  }
  #subscribe {
    background-color: black;
    color: white;
    border: none;
    font-family: 'courier';
  }
  #email {background: #000; border: none; color: #fff;margin-left: 30px;}
  #email::-webkit-input-placeholder {color: #fff; font-family: 'courier';}
  #email:-moz-placeholder {color: #fff;font-family: 'courier';}
  #email::-moz-placeholder {color: #fff;font-family: 'courier';}
  #email:-ms-input-placeholder {color: #fff;font-family: 'courier';}
}

.socialContainer {
  font-size: 1.5em;
  background: #000;
  color: #fff;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  bottom: 100px;
  a {
    text-decoration: none;
    color: #fff;
  }
  .fa {margin: 0 5px;}
  .footerBranding {
    font-size: 0.8em;
    margin-left: 40px;
    display: inline-block;
    span {
      margin: 0 18px;
    }
  }
}

 .blinker {
	font-size: 42px;
	position: absolute;
	top:-15px;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes 'blink' {
    0% { opacity:0 }
    25% { opacity:1 }
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 0 }
}

// MOBILE
@media handheld, screen and (max-width: 1000px) {
  .headerContainer {width: 100%;}
  .terminalContainer {width: 95%;}
  .socialContainer {
    position: fixed;
    bottom: 30px;
    width: 100%;
  }
}
